/*
designed by desbest --> http://desbest.uk.to
exclusively for hostingz 
	site builder--> http://hostingz.org/sites/

== this stylesheet has internet explorer and
	opera specific tags specified by
	#IERoot
*/	

body {
	background-image: url('background.jpg'); 
	/* background-color: #0B0B0B; */
	font-family: Tahoma;
	font-size: 13px;
	text-align: center;
	margin:0px;
	color: #000000;
	
	height: 100%; /* fix height to 100% for IE */
	max-height: 100%; /* fix height for other browsers */
	padding: 0px ; /*remove padding */
	margin: 0px; /* remove margins */
	border: 0px; /* remove borders */
	
	/*	 http://www.cssplay.co.uk/layouts/basics2.html
	 fixed header and footer css fix
	 */

}

img{
border: 0px;
}

a:link    {color: #00666cc; text-decoration: none;}
a:hover   {color: #00666cc; text-decoration: underline;}
a:active  {color: #00666cc; text-decoration: none;}
a:visited {color: #00666cc; text-decoration: none;}

.header{
	background-image: url('header.jpg');
	width: 100%;
	height: 106px;
	max-width: 100%;
	text-align: center;
	margin: 0px;
	padding: 0px;
	
position: relative;
z-index: 2;

}



.headerbridge{
	background-image: url('headerbridge.jpg');
	height: 15px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	
	position: relative;
z-index: 2;

}

.headerpadding{
	width: 990px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	padding-top: 56px;
	color: #ffffff;
	text-align: left;
	font-size: 24px;
	
position: relative;
z-index: 2;

	
}


#IERoot .headerpadding{
	width: 990px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	padding-top: 36px;
	color: #ffffff;
	text-align: left;
	font-size: 24px;
	
position: relative;
z-index: 2;

	
}

.headercontainer{
z-index: 2;
position: fixed;
width: 100%;
}


.three{
z-index: 3;
position: fixed;
}

.container{
width: 990px;
max-width: 990px;
min-height: 100%;
margin-left: auto;
margin-right: auto;
text-align: left;
padding-left: 12px;
padding-right: 12px;
background-image: url('wood.jpg');

clear: both;

position: relative;
top: 121px;

overflow: auto;

}

/* IEroot declarations only appear in 
internet explorer and opera */

#IEroot .container{
width: 990px;
max-width: 990px;
height: 100%;
max-height: 100%;
margin-left: auto;
margin-right: auto;
text-align: left;
padding-left: 12px;
padding-right: 12px;
background-image: url('wood.jpg');

clear: both;

top: 0px;

overflow: auto;

}

.left{
float: left;
width: 210px;

}

.middle{
float: left;
margin-left: 10px;
margin-right: 10px;
width: 468px;
}


.right{
float: left;
width: 250px;
}


.sideheader {
	background-color: #021717;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	color: white;
	padding: 12px;
	text-align: center;
}

.sidebox {
	/* width: 200px; */
	background-color: #c3cdcd;
		
	border-top-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-style: solid;
	border-color: black;
	
	padding: 12px;
	
	margin-bottom: 40px;
}

.middleheader {
	/* width: 492px; */
	background-color: #021717;
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	color: white;
	padding: 12px;
	text-align: center;
}

.middlebox {
	/* width: 492px; */
	background-color: #c3cdcd;

	border-top-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-style: solid;
	border-color: black;
	
	padding: 12px;
}

.middlebox2light{
	background-color: #c3cdcd;
	/* width: 492px; */
	border-top-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-style: solid;
	border-color: black;
}


.middlebox2dark{
	background-color: #8B9191;
	/* xwidth: 492px; */
	border-top-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-style: solid;
	border-color: black;
}

.middlebox2gradlight{
        background-repeat: repeat-x;	
        background-image: url('holderlight.jpg');
	background-color: #8B9191;
	/* xwidth: 492px; */
	border-top-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-style: solid;
	border-color: #000000;
}

.middlebox2graddark{
        background-repeat: repeat-x;
	background-image: url('holderdark.jpg');
	background-color: #646A6A;
	/* xwidth: 492px; */
	border-top-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-right-width: 1px;
	border-style: solid;
	border-color: black;
}

.iconshere{
text-align: right;
z-index: 1;
position: absolute;
right: 325px;
}


#IEroot .iconshere{
text-align: right;
z-index: 1;
position: absolute;
right: 300px;
} 

.footer{
border-top: 3px solid #064645;
background-color: #C3CDCD;
width: 75%;
padding: 12px;
border-bottom: 3px solid #064645;

clear: both;
}

.middleboxpadding{
padding: 12px;
}

.allboxessameheight{
	margin: 0;
	padding: 0;
	width: 100%;
	/* background-color: #ffcc00; */
	max-height: 100%;
        


}

font.subheader{
	font-style:italic; 
}

font.subtext{
font-size: 12px;
}

#navcontainer ul li
{
display: inline-block;
padding-left: 0;
padding-right: 0;
padding-bottom: 5px;
background-color: #021717;
/* matches link padding except for left and right */
padding-top: 5px;
}

#navcontainer ul li a
{
padding-left: 10px;
padding-right: 10px;
padding-bottom: 5px;
padding-top: 5px;
color: white;
text-decoration: none;
border-right: 1px solid rgb(145,22,44);
}

#navcontainer ul li a:hover
{
background-color: rgb(145,22,44);
color: white;
font-weight: bold;
}

#navcontainer #active { 
background-color: #404040;
border-left: 1px solid rgb(145,22,44);

 }